/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root {
  --background: #f9f9f9;
  --primary: #ffffff;
  --secondary: #d52f2f;
  --shadow: #85888c;
  --text: #010203;
  --secondary-visited: #7f1c1c;
} /* variables*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
a:visited {
  color: var(--secondary-visited);
}
ul {
  list-style: none;
}

 /* this makes the footer reach the bottom of the page  */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --------------------------------- HEADER --------------------------------- */

.header {
  /* background-color: var(--primary); */
  background-color: transparent;
  /* box-shadow: 1px 1px 5px 0px var(--shadow); */
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 7.5em;
  transition: 0.5s ease-out;
}

 /* this is applied to the header after scrolling */
.active {
  background-color: var(--primary);
  height: 7.5em;
  transition: 0.5s ease-out;
}

/* containing div of the header */
.container {
 padding-top: 0em;
 padding-bottom: 0.5em;
 padding-left: 3em;
 padding-right: 2em;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
  flex: 1;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-content {
  display: block;
}

 /* the right-aligned portion of the footer, specifically */
.right-align {
  padding-top: 2em;
  text-align: right;
}



/* ---------------------------------- LOGO ---------------------------------- */

 /* this is the text that makes the logo clickable.
    modifies so it fits over the whole area intended to be clickable
 */
.logo {
  color: transparent;
  display: inline-block;
  width: 3em;
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 /* the actual logo image */
.ms-logo {
  background: url(images/ms.png) no-repeat;
  background-size: contain;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 3em;
}

/* -------------------------------- NAV MENU -------------------------------- */

.nav {
  width: 100%;
  height: 0;
  position: absolute;
  margin-top: 1em;
  margin-left: -0.6em;
  background-color: var(--primary);
  overflow: hidden;
  transition: height 0.5s ease-out;
}
.menu a {
  display: block;
  padding: 30px;
  font-size: 1.25rem;
  color: var(--secondary);
}
.menu a:hover {
  background-color: var(--shadow);
}

/* ----------------------------- HAMBURGER ICON ----------------------------- */

.hamb {
  cursor: pointer;
  float: right;
  position: relative;
  padding-top: 1.25em;
  padding-right: 1em;
} /* Style label tag */

.hamb-line {
  background: var(--secondary);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: var(--secondary);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav {
  height: 12em;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* ------------------------------- HERO IMAGE ------------------------------- */

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("images/hero.webp");

  /* Set a specific height */
  height: 40rem;

  /* Position and center the image to scale nicely on all screens */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  margin-top: -13em;
  z-index: 1;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  padding-top: 17em;
  margin-left: 10%;
  margin-right: 10%;

  /* top: 30%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: var(--text);
  z-index: 2;
}

.hero-text h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

/* the background box containing text */
.hero-box {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1.5em;
  border-radius: 1em;
}

.hero-text button {
  background-color: var(--secondary);
  border: none;
  color: white;
  margin-top: 1em;
  padding: 15px 32px;
  border-radius: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}

.hero-text button:hover {
  background-color: var(--shadow);
  color: white;
  margin-top: 1em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}


/* ---------------------------------- CARDS --------------------------------- */

.cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cards-contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }

.cards img {
  width: 100%;
  border-radius: 0.5em;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  margin-top: 2em;
  border-radius: 1em;
  width: 75%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
}

.card-contact {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 1em;
    margin-top: 2em;
    border-radius: 1em;
    width: 75%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    height: 45em
  }

.card-nohover {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1em;
  margin-top: 2em;
  border-radius: 1em;
  width: 75%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  display: flex;
  flex-direction: column;
}

.contact-form-container form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}
.contact-form-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em;
}

.contact-form-container input, .contact-form-container textarea{
    margin-top: .5em;
    margin-bottom: .5em;
    padding: .5em;
    border-radius: .5em;    
    border: 1px solid var(--secondary);
    background-color: var(--primary);
    width: 100%
}

.form-btn input {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: .5em;
    padding: 1em;
    cursor: pointer;
    width: 100%
}

.lb {
    display:block;
    clear:both;
 }
 
.error {
    background-color: red;

    text-align: center;
    color: white;
    padding: .25em;
    font-weight: 800;
    height: 0;
    visibility: hidden;
    border:rgba(0, 0, 0, 0.75) solid 1px;
    transition: all 0.3s ease 0s;
    border-width: 2px;
}

.card-text {
  margin-top: 0.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* ---------------------------- FRONTPAGE CONTENT --------------------------- */

.frontpage-content {
    position: relative;
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 0;
    padding-bottom: 2.5rem;
  }


  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -5em;
  }

  .btn {
    background-color: var(--secondary);
    border: none;
    color: white;
    margin-top: 1em;
    padding: 15px 32px;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease 0s;
  }
  
  .btn:hover {
    background-color: var(--shadow);
    color: white;
    margin-top: 1em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

/* ---------------------------------- MODAL --------------------------------- */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    border-radius: 2em;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .menuinator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .menuinator p {
    text-align: center;
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 10%;
  }

  .image-wrap {
    max-width: 20em;
  }

  .image-wrap img {
    display: block;
    /*for many reasons - but mainly to get rid of the little margin-bottom that happens by default */
    width: 100%;
    height: auto;
    border-radius: 1em;
  }

/* ----------------------------- RESPONSIVENESS ----------------------------- */

/* 
    The style is built MOBILE FIRST, meaning that these breakpoints 
    account for the screen getting BIGGER, rather than the screen getting SMALLER. 
*/

@media (min-width: 768px) {
  .nav {
    margin-top: 0.4em;
    top: 0;
    height: 2em;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .menu li {
    float: left;
    padding-top: 0.25em;
  }
  .menu a {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 0.5em;
    font-size: 1.2rem;
  }
  .menu a:hover {
    background-color: transparent;
    background-color: var(--shadow);
  }

  .hamb {
    display: none;
  }

  .hero-box {
    margin-left: 10%;
    margin-right: 10%;
  }

  .frontpage-content {
    padding-top: 7.5%;
    padding-bottom: 7.5%;
  }

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .right-align {
    padding-top: 0;
    text-align: right;
  }

  .logo {
    width: 6.5em;
  }

  .ms-logo {
    background: url(images/milk.png) no-repeat;
    background-size: contain;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 3em;
  }

  .cards {
    align-items: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .cards-contact {
    margin-left: 10%;
    margin-right: 10%;
  }

  .card-contact {
    height: 38em;
  }

  .card {
    margin-top: 0em;
  }

  .modal-content {
    width: 60%;
  }
}


/* Responsiveness */
@media (min-width: 1024px) {
  .hamb {
    display: none;
  }

  .hero-box {
    margin-left: 20%;
    margin-right: 20%;
  }

  .cards-contact {
    margin-left: 20%;
    margin-right: 20%;
  }
/* 
  .contact-form-container p  {
    line-height: 0.5em;
  }

  .contact-form-container h1  {
    font-size: 1.5em;
  } */

  .card-contact {
    height: 38em;

  }

  .card {
    margin-left: 2em;
    margin-right: 2em;
  }

  .modal-content {
    width: 40%;
  }
}
