/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --background: #f9f9f9;
    --primary: #ffffff;
    --secondary: #d52f2f;
    --shadow: #85888C;
    --text: #010203;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}



/* Header */
.header{
    /* background-color: var(--primary); */
    background-color: transparent;
    /* box-shadow: 1px 1px 5px 0px var(--shadow); */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}
.container {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--secondary);
    font-size: 40px;
}
.logo img {
    height: 1.5em;
}



/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: 0.5em;
    margin-left: -31px;
    background-color: var(--primary);
    overflow: hidden;
}
.menu a{
    display: block;
    padding: 30px;
    font-size: 1.25rem;
    color: var(--secondary);
}
.menu a:hover{
    background-color: var(--shadow);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}



/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    position: relative;
    padding-top: 1.75em;
    padding-right: 1em;
}/* Style label tag */

.hamb-line {
    background: var(--secondary);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--secondary);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */



/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 17em;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}



/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        margin-top: -3px;
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-top: 1em;
        font-size: 1.2rem;
    }
    .menu a:hover{
        background-color: transparent;
        background-color: var(--shadow);
    }

    .hamb{
        display: none;
    }
}




body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("https://images.unsplash.com/photo-1615332251729-7fef879898fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE4fHxtaWxrc2hha2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");

  /* Set a specific height */
  height: 40rem;

  /* Position and center the image to scale nicely on all screens */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  margin-top: -11rem;
  z-index: 1;
  
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  margin-top: -25em;
  margin-left: 20%;
  margin-right: 20%;

  /* top: 30%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  color: var(--text);
  z-index: 2;
}

.hero-text h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.hero-box {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1.5em;
  border-radius: 1em;
}


.hero-text button {
    background-color: var(--secondary);
    border: none;
    color: white;
    margin-top: 1em;
    padding: 15px 32px;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease 0s;
}

.hero-text button:hover {
    background-color: var(--shadow);
    color: white;
    margin-top: 1em;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

